* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

form {
    display: flex;
    gap: 10px;
}

input {
    padding: 10px;
    outline: 0;
}

button {
    padding: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}

.row {
    position: relative;
    height: 300px;
    margin-bottom: 20px;
}

.row img {
    position: absolute;
    width: 600px;
    height: 100%;
}

.row h1 {
    font-size: 70px;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
} 